* {
    font-family: sans-serif;
}
body {
    background-color: #f2f2f2;
}
#app {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#toggleMode {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
#toggleMode:hover {
    background-color: #3e8e41;
}
#taskForm {
    margin-top: 20px;
}
fieldset {
    border: none;
    margin: 0;
    padding: 0;
}
legend {
    font-weight: bold;
    margin-bottom: 10px;
}
label {
    display: block;
    margin-bottom: 5px;
}
input[type="text"],
input[type="date"],
select {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
}
button[type="submit"] {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
button[type="submit"]:hover {
    background-color: #3e8e41;
}
#tasksList {
    margin-top: 20px;
    padding: 0;
}
#tasksList li {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f2f2f2;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}